__pycache__
*.pyc
*.pyo
*.pyd
*.mo

# Git files
.git/
.gitignore

# Environment files
envs/
*.env
.env.example
.env.ci
env_collector
venv/

celerybeat-schedule
celerybeat.pid

.idea
static
media
logs
backups
